{% load i18n %}

<form action="{% url 'store.category' %}" class="d-flex mx-auto">
    <div class="input-group">
      <input name="q" type="text" class="form-control" style="width: 400px" placeholder="{% trans "Search" %}" value="{{ request.GET.q }}"/>
      <select name="category_from_select" class="form-control" style="width: 160px">
          <option value=""> {% trans "All Categories" %} </option>  {# the value attribute here refers to the index to the header #}
        {% for category in categories %}
          <option 
          value="{{ category.id }}"
          {% if category.id|stringformat:'i' == request.GET.category_from_select %}  {# the stringformat here is 'i' which means decimal integer (it is like int() function in python) #}
            selected
          {% endif %}
          >
           {{ category.name }} 
          </option>
        {% endfor %}
      </select>
      <button class="btn btn-primary" type="submit">
        <i class="lni lni-search-alt text-white"></i>
      </button>
    </div>
</form>